/////////////////////////////////////////////////////////////////////////////
// service {{.ServiceName}}

type {{.ServiceName}} interface {
{{- range .Methods}}
	{{.Name}}(*{{.Input}}) (*{{.Output}}, error)
{{- end}}
}

