/////////////////////////////////////////////////////////////////////////////
// service {{.ServiceName}}

type {{.ServiceName}} interface {
{{- range .ImplementHandlers}}
	{{.ImportName}}
{{- end}}
{{- range .Methods}}
	{{.Name}}(input *{{.Input}}) (*{{.Output}}, error)
{{- end}}
{{- range .RegisterHandlers}}
	Register{{.CleanName}}(handler {{.ImportName}})
{{- end}}
}

