func (x *{{.MessageName}}) {{.MessageField.FieldName}}() *{{.MessageField.FieldGoType}} {
	b, s := x.message.GetMessage({{.MessageField.FieldIndex}})
	return {{.MessageField.FieldGoType}}Reader(b[:s])
}

func (x *{{.MessageName}}) Raw{{.MessageField.FieldName}}() []byte {
	return x.message.RawBufferForField({{.MessageField.FieldIndex}}, 0)
}

