/////////////////////////////////////////////////////////////////////////////
// message {{.MessageName}}

// reader

type {{.MessageName}} struct {
	// internal
	membuffers.Message // interface
	_message membuffers.InternalMessage
}

