/////////////////////////////////////////////////////////////////////////////
// message {{.MessageName}}

// reader

type {{.MessageName}} struct {
{{range .MessageFields}}	// {{.FieldName}}
{{end}}
	// internal
	membuffers.Message // interface
	_message membuffers.InternalMessage
}

